{% load static %}
<!DOCTYPE html>
<!-- [if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif] -->
<!-- [if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif] -->
<!-- [if IE 8]> <html class="no-js lt-ie9"> <![endif] -->
<!-- [if gt IE 8]> <html class="no-js"> 
![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Water improvement app</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block css_links %}

    {% endblock %}
  </head>
  <body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class='fas fa-bars'></i>
        </label>
        <label class="logo">WaterImprov</label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="carte_agences_tde">Cartes</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>
 
    {% block content %}

    {% endblock content %}

    {% block scripts %}

    {% endblock %}
    <script src="" async defer></script>
  </body>
</html>
